@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}